PORT=3000
DATABASE_URL="file:./dev.db"

MINIO_ENDPOINT=192.168.1.20
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=ISI_ACCESS_KEY_DARI_ENV
MINIO_SECRET_KEY=ISI_SECRET_KEY_DARI_ENV
MINIO_BUCKET_ORIGINAL=stickers-original
MINIO_BUCKET_STICKER=stickers-webp
MINIO_BUCKET_THUMBNAIL=stickers-thumbnail
MINIO_PUBLIC_BASE_URL=http://192.168.1.20:9000

OCR_LANG=eng
OCR_PREPROCESS_WIDTH=1400
OCR_PRIMARY_PROVIDER=paddleocr
PADDLEOCR_API_TOKEN=ISI_TOKEN_PADDLEOCR_DARI_ENV
PADDLEOCR_JOB_URL=https://paddleocr.aistudio-app.com/api/v2/ocr/jobs
PADDLEOCR_MODEL=PaddleOCR-VL-1.6
PADDLEOCR_POLL_INTERVAL_MS=5000
PADDLEOCR_TIMEOUT_MS=120000
